@media screen and (min-width: 769px) and (max-width: 2560px) {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.7;
    overflow: scroll;
  }

  .nav {
    display: flex;
    align-items: center;
    font-size: 13px;
    background: hsl(262, 81%, 19%);
    height: 45px;
  }

  ul.nav-links {
    margin-right: 30px;
  }

  .nav a.logo {
    margin-left: 3%;
    margin-right: auto;
  }

  .nav ul.nav-links li {
    display: inline;
    margin-left: 1.5rem;
  }

  .nav ul.nav-links li.sign-up {
    border-style: solid;
    border-color: #fff;
    border-width: 0.1rem;
    padding: 5px;
    font-size: 13px;
    border-radius: 0.2rem;
    margin-right: 2rem;
  }

  .nav ul.svg {
    margin-right: 40px;
  }

  .nav .svg .img-svg {
    cursor: pointer;
    width: 25px;
    margin-top: 5px;
  }

  .nav a {
    text-decoration: none;
    color: #C6CEE4;
  }

  /********* NAV TOGGLING *********/

  #nav-toggle {
    display: none;
  }

  /* DROPDOWN */
  .none {
    display: none;
  }

  .show {
    display: block;
  }
/* 
  div.arrow-up {
    position: absolute;
    right: 48px;
    top: 36px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
  }
  div.dropdown {
    /* background-color: black; */
    /* position: absolute;
    right: 5px;
    padding: 1rem;
    border: 1.5px solid #efefef;
    animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  div.dropdown button.button-dropdown {
    width: 6rem;
    height: 1.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #A400B4;
    color: #fff;
  }

  div.dropdown button.button-dropdown a {
    text-decoration: none;
    color: white;
  }
  div.dropdown p.para-dropdown {
    color: white;
    margin-top: 10px;
    font-size: 10px;
  }
  div.dropdown .para-dropdown a {
    text-decoration: none;
    color: #A400B4;
  } */

    /* DROPDOWN */
    div.arrow-up {
      position: absolute;
      right: 47px;
      top: 38px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid white;
      display: none;
    }
  
    div.dropdown {
      background-color: white;
      position: absolute;
      right: 26px;
      padding: 1rem;
      height: 14rem;
      border: 1.5px solid #efefef;
      animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      display: none;
    }
  
    div.dashboard-dropdown {
      width: 9rem;
      height: 1.8rem;
      border: none;
      border-radius: 0.3rem;
      background-color: #A400B4;
      color: #fff;
      font-size: 0.7rem;
      text-align: center;
      padding-top: 0.3rem;
    }
  
    button.button-dropdown a {
      text-decoration: none;
      color: white;
    }
  
    p.para-dropdown {
      color: black;
      margin-top: 10px;
      font-size: 12px;
      cursor: pointer;
    }
  
    .para-dropdown a {
      text-decoration: none;
      color: #A400B4;
    }
  
  /**********NAV ENDED********/

  /****** SECTION BEGINS ******/
  .section-result {
    display: flex;
    margin: auto; 
    flex-direction: column;
    margin-left: 20rem;
    margin-top: 2rem;
  }
  .div-result-wrap {
      width: 55rem;
  }
  .wrapper-result {
      display: flex;
      width: 52rem;
  }
  .wrapper-result > div {
      margin-bottom: 2rem;    
  }
  .card-pictures {
      width: 26rem;
      height: 20rem;
      margin-left: 100px;
      margin-top: 50px;
  }
  .card-stories {
      padding-left: 2rem;
      margin-left: -150px;
      margin-top: 50px;
  }
  .div-inside-card {
    line-height: 40px;
  }
  .first-heading-card-stories {
    font-weight: 500;
    font-size: 1.2rem;
  }
  .heading-price-card-stories {
    margin-top: -1%;
    font-size: 1.5rem;
    font-weight: 550;
    opacity: 0.6;
  }
  
  .para-delete-card-stories > button:nth-child(1) {
    color: white;
    cursor: pointer;
    background-color: blue;
    box-shadow: none;
    border: none;
    padding: 6px;
    border-radius: 3px;
    width: 70px;
  }

  .view {
    padding: 4px;
    background: #294352;
    /* opacity: 0.8; */
  }

  a {
    text-decoration: none;
    color: white;
  }

  .para-delete-card-stories > button:nth-child(2) {
    cursor: pointer;
    background-color: red;
    box-shadow: none;
    border: none;
    padding: 6px;
    border-radius: 3px;
    color: white;
  }
  .viewone {
    padding: 8px;
    width: 45px;
    background: blue;
    color: white;
    display: block;
  }
  
  .deleteone {
    cursor: pointer;
    background-color: red;
    box-shadow: none;
    border: none;
    padding: 6px;
    border-radius: 3px;
    color: white;
  }
}