@media screen and (max-width: 320px) {
  
  /****** PAGE AND BODY STYLING ***********/
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.7;
    overflow: scroll;
  }

  /****** NAV STYLING ***********/
    .nav {
      display: flex;
      font-size: 0.8rem;
      background-color: #260957;
      height: 3.3rem;
      align-items: center;
    }

    ul {
      display: none;
    }

    .logo {
      text-decoration: none;
      margin-left: 2%;
      color: #C6CEE4;
    }

    /****** HAMBURGER MENU *******/
      #nav-toggle { 
          display: block;
          position: absolute;
          right: 2%;
        }

      #nav-toggle {
        cursor: pointer;
        padding: 10px 35px 16px 0px;
        }

      #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 1px;
        width: 25px;
        background: white;
        position: absolute;
        display: block;
        content: '';
        background-color: #beb6cd;
      }

      #nav-toggle span:before {
        top: -8px;
      }
      #nav-toggle span:after {
        bottom: -8px;
      }

      #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        transition: all 500ms ease-in-out;
      }
      #nav-toggle.active span {
        background-color: transparent;
      }
      #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0;
      }

      #nav-toggle.active span:before {
        transform: rotate(45deg);
      }

      #nav-toggle.active span:after {
        transform: rotate(-45deg);
      }

      /**** RESPONSIVENESS TOGGLE ******/
    .nav.responsive {
      position: relative;
    }

    .nav.responsive ul {
      position: absolute;
      width: 10rem;
      top: 96%;
      left: 45%;
      right: 3%;
      padding-left: 1.5%;
      padding-top: 1.5%;
      padding-bottom: 0%;
      display: block;
      float: none;
      z-index: 1;
      border: 2px solid;
      border-color: #727170;
      border-color: rgba(0, 0, 0, 0.3);
      list-style: none;
    }

    .nav.responsive ul li {
      margin-left: 1rem;
      cursor: pointer;
    }

    .nav.responsive ul li:not(:nth-last-child(2)) {
      margin-bottom: 10%;
    }

    .nav.responsive ul li:nth-last-child(2) {
      margin-bottom: -10%;
    }

    .nav.responsive ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 0.95rem;
      opacity: 0.7;
    }

    .nav.responsive ul.svg {
      display: none;
    }

  /******* NAV END ******/

      
  /****** MAIN DIV*****/
    .main-index {
      background-color: #250858;
      height: 50rem;
    }

    div.background-img {
      background-image: url("../../images/mobile-image.webp");
      background-position: center;
      background-size: cover;
      height: 14rem;
      max-width: 1920px;
      transform: translate(0%,0%);
      position: relative;
    }

    .main-index.responsive {
      background-image: url("../../images/mobile-image.webp");
      background-position: center;
      background-size: cover;
      height: 13rem;
      max-width: 1920px;
      transform: translate(0%,0%);
      position: relative;
      filter: contrast(15%);
    }

      /****** PAGE TITLE H1*****/
      .main-index h1 {
        position: absolute;
        top: 80%;
        margin-left: 3%;
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        opacity: 0.6;
        color: white;
      }
      /****** H1 TITLE END*****/
      /****** MAIN DIV END*****/

      /* SEARCH SECTION */
      .section-search {
        height: 30rem;
        margin-left: 0%;
      }
      
      .input-section-search {
        padding: 8px;
        border-color: white;
        border-radius: 5px;
        box-shadow: none;
        margin-top: 75%;
        margin-left: 3rem;
        width: 50%;
        height: 2.2rem;
        margin-bottom: 3%;
      }

      .wrapper-search {
        margin-top: 5%;
        margin-left: 3rem;
      }
      .wrapper-search > div {
        width: 29%;
        margin-bottom: 7%;
      }

      .div-sub-search-newness, .div-sub-search-usage, .div-sub-search-make, .div-sub-search-price {
        color: white;
      }

      .div-sub-search-newness{
        margin-top: 5%;
      }

      .div-sub-search-price {
        margin-left: 13%;
        margin-top: -3%;
      }

      .label-price {
        font-size: 13px;
        display: block;
        color: #efefef;
      }
  
      .search-price {
        width: 14rem;
        padding: 5px;
        border-radius: 2px;
        box-shadow: none;
        border-style: solid;
        border-color: #fff;
        margin-bottom: 15px;
        background-color: lemonchiffon;
        cursor: pointer;
      }

      .search-price:not(:last-child) {
        margin-bottom: 3%;
      }

      select {
        padding: 0.2rem;
        cursor: pointer;
      }

      .div-search-submit {
        position: absolute;
        width: 70%;
        left: 2.7rem;
        margin-top: 16rem;
      }
      
      .input-search-submit {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background: #A400B4;
        border-color: #A400B4;
        box-shadow: none;
        color: #efefef;
        border-style: solid;
        cursor: pointer;
      }

      .none {
        display: none;
      }

      .second-background-image {
        display: none;
      }
}
