/* PURCHASE ORDER */  
  .section-purchase-order {
      background: #efefef;
  }

  .purchase-order-main-heading {
      color: #532380;
      font-size: 1.7rem;
      margin-left: 10%;
      margin-bottom: 3rem;
  }

  form {
    margin-left: 10%;
  }

  .backgrnd-image {
    background-image: url(images/sellcar.webp);
    background-position: center;
    background-size: cover;
    height: 10rem;
    margin-bottom: 1rem;
  }

  select, input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 0.9px solid #efefef;
    box-shadow: none;
    outline: none;
    margin-bottom: 12px;
    color:#532380;
   }

   input::placeholder {
    padding-left: 5%;
   }

   input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }

   fieldset {
    border: none;
    margin-bottom: 1rem;
  }

  textarea {
    border-radius: 5px;
    border: 0.9px solid #efefef;
    box-shadow: none;
    outline: none;
  }

  form button {
    display: block;
    margin-top: 2rem;
    width: 15rem;
    height: 3rem;
    background-color: #A400B4;
    color: rgba(255,255,255);
    outline: none;
    box-shadow: none;
    border-style: solid;
    border-width: 0.9px;
    border-radius: 0.3rem;
    cursor: pointer;
  }