  /* SELL CSS */
.sect-sell {
    background: #efefef;
}

  .backgrnd-image {
    background-image: url(images/sellcar.webp);
    background-position: center;
    background-size: cover;
    height: 10rem;
    margin-bottom: 1rem;
  }
  
  .sell-submit-button {
  display: block;
  margin-top: 2rem;
  width: 15rem;
  height: 3rem;
  background-color: #A400B4;
  color: rgba(255,255,255);
  outline: none;
  box-shadow: none;
  border-style: solid;
  border-width: 0.9px;
  border-radius: 0.3rem;
  cursor: pointer;
  }

  .h-title-sell {
      color: #532380;
      font-size: 2rem;
      margin-left: 10%;
  }

  h6 {
    margin-left: 10%;
    margin-bottom: 3rem;
    color: #532380;
  }

  fieldset {
    border: 0;
    margin-bottom: 1.5rem;
  }

  .placeholder::placeholder {
    padding-left: 1rem;
  }

  .sect-sell form {
      margin-left: 10%;
  }

   select, input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 0.9px solid #efefef;
    box-shadow: none;
    outline: none;
    margin-bottom: 12px;
    color:#532380;
   }

   
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
   
   .contact-info, legend {
    color: #532380;
   }

   legend {
     font-size: 13px;
     margin-bottom: 2rem;
   }

   textarea {
    border-radius: 5px;
    border: 0.9px solid #efefef;
    box-shadow: none;
    outline: none;
   }