/* SIGN IN PAGE */
.body-signin {
}

main.main-signin {
  display: flex;
  height: 60.6rem;
}
main.main-signin section:nth-child(1) {
  flex-grow: 1;
  align-items: stretch;
  height: 100%;
}

main.main-signin section:nth-child(1) div {
  background-image: url("images/cars3.webp");
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/cars3.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-left: 3%;
  padding-top: 3%: 
  /* filter: contrast(30%); */
  }
  
.main-signin section:nth-child(1) div > p {
  padding-top: 30%;
  color: white;
  text-align: center;
  font-size: 2rem;
}
.main-signin section:nth-child(1) div > a {
  text-decoration: none;
  text-decoration: none;
  color: white;
  opacity: 0.6;
  display: block;
  font-size: 1.2rem;
  
}
.main-signin section:nth-child(1) div > h2 {
  /*padding-top: 1rem;*/
}

main.main-signin section:nth-child(2) {
  flex-grow: 0.5;
  display: flex;
}

main.main-signin section:nth-child(2) div {
  margin: auto;
  align-items: center;
}

.fs-larger {
  font-size: 2.2rem;
}

.fs-large {
  font-size: 1.6rem;
}
.header {
  margin-bottom: 5rem;
}
.header > h3 {
  font-weight: 300;
  /* opacity: ; */
}
.header > h4 {
  font-weight: 200;
  opacity: 0.5;
}
.p-signin {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.p-signin-2 {
    font-size: 1.2rem;
}

.p-signin-2 > span:nth-child(2) {
  color: green;
  margin-left: 15rem;
  color: #D8681E;
}

.search-box {
  padding: 1rem;
  background-color: #ECEDEF;
  border: none;
  width: 35rem;
}

.search-box:hover {
  background-color: #f9f9f9;
}

.search-box:not(:last-child) {
  margin-bottom: 2rem;
}

.search-box::placeholder {
  font-size: 1rem;
}

.input-button {
  margin-top: -1rem;
  padding: 0.9rem 2rem;
  background-color: #D8681E;
  border: none;
  color: white;
  display: block;
  margin: auto;
  border-radius: 0.5rem;
  cursor: pointer;
}

.para-acc {
  margin-top: 1.8rem;
  text-align: center;
}
.para-acc a {
  text-decoration: none;
}

.span-reg {
  margin-left: 0.2rem;
  color: #D8681E;
}

